@model BeFit.Models.Mix

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mix</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Typy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Typy.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sesje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sesje.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Waga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Waga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Powtorzenia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Powtorzenia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
