@model IEnumerable<BeFit.Models.Mix>

@{
    ViewData["Title"] = "Exercises";
}

<h1>Exercises</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SesjeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Waga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Powtorzenia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Typy.Name)
                </td>
                <td>
                    @(item.Sesje != null ? item.Sesje.Start.ToString("g") : "-")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Waga)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Serie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Powtorzenia)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
